* {
  box-sizing: border-box;
}
.root {
  display: grid;
  padding: 15;
  width: 50%;
  grid-template-columns: 50% 50%;
}
.cover1 {
  width: 250px;
}
.cover {
  width: 250px;
}
.content {
  flex: 1 0 auto;
}
.details {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .root {
    width: 90%;
  }
  .cover {
    width: 100%;
  }
  .cover1 {
    width: 100%;
  }
  .details {
    display: grid;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .root {
    width: 80%;
  }
}
