@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.chatus {
  color: #fff
}
.chatus:hover {
  color: #376C7C
}
.chatus:active {
  color: #376C7C
}

.secondform {
  background-color: #F0FAFF;
  width: 30%;
  position: fixed;
  bottom: 130px;
  left: 70px;
  padding: 10px;
  border-radius: 4px;
}
.form {
  width: 100%;
  background-color: #E5E5E5;
  padding: 10;
  box-sizing: border-box;
}


@media (max-width: 700px) {
  .secondform {
    background-color: #F0FAFF;
    width: auto;
    position: fixed;
    bottom: 130px;
    left: 30px;
    padding: 10px;
    border-radius: 4px;
    opacity: 1.1;
  }
}

@media (min-width:700px) {
  .secondform {
    background-color: #F0FAFF;
    width: 60%;
    position: fixed;
    bottom: 130px;
    left: 30px;
    padding: 10px;
    border-radius: 4px;
    opacity: 1.1;
  }
}
@media (min-width:700px) {
  .secondform {
    background-color: #F0FAFF;
    width: 60%;
    position: fixed;
    bottom: 130px;
    left: 30px;
    padding: 10px;
    border-radius: 4px;
    opacity: 1.1;
  }
}@media (min-width:900px) {
  .secondform {
    background-color: #F0FAFF;
    width: 30%;
    position: fixed;
    bottom: 130px;
    left: 30px;
    padding: 10px;
    border-radius: 4px;
    opacity: 1.1;
  }
}